In [ ]:
import pandas as pd
data = pd.read_csv("titanic.csv")
data

 # print only the Name colum

In [ ]:
data["Name"]
# or data["Name"]

# Find min and max Fare

In [ ]:
value = data["Fare"]
print(min(value))
print(max(value))
print(sum(value))

# find data of PassengerId  500

In [ ]:
pid = data[data["PassengerId"] == 500]
print(pid)
pid["Fare"]

# TO find max Fare

In [ ]:
data[data.Fare == data.Fare.max()]
# or
# data[data["Fare"] == data["Fare"].max()]

# find total & avg Fare of passangers

In [ ]:
print(data["Fare"].sum())

print(data["Fare"].mean())

In [ ]:
# print full name if passanger id 255 and gender together 

name = data[data["PassengerId"] == 255].Name
gender = data[data["PassengerId"] == 255].Sex

print(name + " " +  gender)

In [ ]:
data[data["PassengerId"] == 255]

In [ ]:
# # convrt Fare into list

# list = data.Fare.to_list()

# # convrt Fare into dictionary
# data.Fare.to_dict()

# changes in data

In [ ]:
# change the Fare of PassengerId 500 to 879

output = data.loc[data["PassengerId"] == 500, "Fare"] = 879

In [ ]:
# remove the data of Mr. William Henry

data.drop(4)  # here 4 in index number ( - _ - )

In [ ]:
# to find index number 

index_number = data.index[data["PassengerId"] ==  4 ].values[0]
# print(index_number)
data.drop(index_number)

In [ ]:
#sort the Fare data whith min to max (Ascending order)
# data.sort_values(by="Fare", ascending=True )
data["Fare"].sort_values(ascending=True)

# add a new column "bonus" with value 10% of fare

In [ ]:
data = data["bouns"] = data.Fare * 0.1
print(data)

# DROP the "salary" column

In [ ]:
data = data.drop("bonus", axis = 1)

In [ ]:
data.to_csv("new_titanic")